<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="theme-color" content="#333" />

    <title>Material Style</title>
    <meta name="description" content="Material Style Theme" />

    <link rel="shortcut icon" href="{{url_for('static', path='/img/favicon.png?v=3') }}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="stylesheet" href="{{url_for('static', path='/css/preload.min.css') }}" />

    
    <link rel="stylesheet" href="{{url_for('static', path='/css/plugins.min.css') }}" />

    <link rel="stylesheet" href="{{url_for('static', path='/css/style.blue-grey-800.min.css') }}" />

    <link rel="script" href="{{url_for('static', path='/js/plugins.min.css') }}"></link>

    <link rel="script" href="{{url_for('static', path='/js/app.min.css') }}"></link>

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="bg-full-page bg-primary back-fixed">
      <div class="mw-500 absolute-center">
        <div class="card color-dark animated zoomInDown animation-delay-5">
          <div class="card-body">
            <h1 class="color-primary">Login to Beeper</h1>
            <form method="post" action="/login">
              <fieldset>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><i class="zmdi zmdi-account"></i
                    ></span>
                    <label class="control-label" for="ms-form-user"
                      >Email</label
                    >
                    <input type="text" id="email" name="email" class="form-control" required/>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-raised btn-primary btn-block" type="submit">
                      Submit
                      <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                    </button>
                  </div>
                  
                </div>
              </fieldset>
            </form>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
